#people-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
}
#one-person-container {
    background-color: rgb(146, 146, 245);
    border-radius: 0.8em;
    padding: 0.5em;
}
.person {
    background-color:blue;
    border-radius: 0.8em;
    padding: 0.5em;
}
#done-button {
    background-color: blueviolet;
    padding: 0.5em;
    border-radius: 0.8em;
}
  