#people-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
}
.person {
    background-color:blue;
    border-radius: 0.8em;
    padding: 0.5em;
}
  